.tag {
  display: inline-flex;
  padding-inline: var(--space--2);
  padding-block: var(--space--4);
  border-radius: 0.25rem;
  background-color: var(--color-primary);
  color: var(--color-gray-950);
  font-size: var(--font-size--1);
}
